extends ../.templates/page.pug

block var
	- var activeMenu = 'about'

block body
	section.hero.hero--about
		div.hero__overlay
	
		div.hero__wrap
			a(href="/").hero__logo
				img(src="/logo/host.png")

			div.hero__text
				div.hero__title About ICPC

	div.content.placeholder
		| Information available soon