extends ../.templates/page.pug

block var
	- var activeMenu = 'astana'

block body
	header.hero.hero--astana
		div.hero__overlay
	
		div.hero__wrap
			a(href="/").hero__logo
				img(src="logo/host.png")

			div.hero__text
				h1.hero__title Welcome to Astana!

	main.content.placeholder
		