extends ../.templates/page.pug

block var
	- var activeMenu = 'astana'

block body
	section.hero.hero--astana
		div.hero__overlay
	
		div.hero__wrap
			a(href="/").hero__logo
				img(src="/logo/host.png")

			div.hero__text
				div.hero__title Welcome to Astana!

	div.content.placeholder
		| Information available soon