extends ../.templates/page.pug

block var
	- var activeMenu = 'excursions'

block body
	header.hero.hero--excursions
		div.hero__overlay
	
		div.hero__wrap
			a(href="index.html").hero__logo
				img(src="logo/host.svg")

			div.hero__text
				h1.hero__title Excursions

	main.content.placeholder
		| Information available soon