extends ../.templates/page.pug

block var
	- var activeMenu = 'excursions'

block body
	header.hero.hero--excursions
		div.hero__overlay
	
		div.hero__wrap
			a(href="index.html").hero__logo
				img(src="logo/host.svg")

			div.hero__text
				h1.hero__title Excursions

	main.content
		div.s-typeset
			div.s-typeset__wrap
				section.s-typeset__block
					p On Tuesday, September 17, from 14:00 – 17:30 attendees of the ICPC World Finals Astana will have the opportunity to tour the amazing Nur Alem Future Energy Museum, located in the heart of the Astana Expo & Congress area.
					p
						img(src="/assets/img/excursions-1.png" alt="Nur Alem")
					p The Future Energy Museum is a sphere 100 meters tall and 80 meters in diameter weighing 13 thousand tons. The area of the glass is equal to five football fields. Each piece of glass has its own shape and weighs up to 800 kilograms. The building was recognized as a specially protected state architectural object in November 2017.
					p The Museum consists of eight floors. The “Acquaintance with Kazakhstan” zone is located on the first floor, where you will experience the Kazakh culture and history. The 2nd to 8th floors consist of interactive examples of the main types of energies – energy of space, sun, biomass, wind, water and kinetic energy.
					p Tours will be organized in groups with guides, leaving from the Expo venue and walking to the Museum (approx. 10 min). Each guided tour will last approximately 1 hour. Apart from visiting the museum, during the allocated excursion time, you will have the opportunity to explore the Showcase & ChillZone areas at the Expo.
					p We hope you have an engaging and enjoyable time, and that this day will be a source of inspiration and new knowledge for everyone!